<h2>Please add a comment or suggestion.</h2>

<div class="comments" id="all_comments">
<ol>
  <% @comments.each do |comment| %>
  <p>
    <li><%= comment.name %> :- <%= comment.comment %> </li>
  </p>
  <p><%=link_to "Edit", edit_comment_path(comment) %>|
  <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</ol>
</div>



<hr>

<%= link_to "Leave a comment", new_comment_path,id: "new_link", remote: true %>
