<h2>Wooo ......... Be ready to be mind blown by some of the greadtest things.</h2>

<ul>
  <%= @links.each do |link| %>
    <li><strong><%= link_to link.name, link_path(link) %></strong><%= link.description %></li> <li><%= link.github_link %><%= link.launch %></li>
  <% end %>
</ul>
