<nav class="light-blue">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Portfolio.</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user.nil? %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% else %>
      <li><%= link_to"Languages", codes_path %></li>
      <li><%= link_to"Comment", comments_path %></li>
      <li><%= link_to"References", references_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
