<!DOCTYPE html>
<html>
  <head>
    <title>Portifolio</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
  </head>

  <body>
      <div class="navbar-fixed">
        <nav class="transparent z-depth-0">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12">
                <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                  <i class="material-icons">menu</i>
                </a>
                <a href="/" class="brand-logo" target="_blank">Dennis</a>
                <ul class="right hide-on-med-and-down">
                  <li>
                    <%= link_to "blog", comments_path %>
                  </li>
                  <li>
                    <%= link_to "references", references_path %>
                  </li>
                  <li>
                    <%= link_to "Projects", codes_path %>
                  </li>
                </ul>
              </div>
            </div>
            <ul class="side-nav" id="mobile-demo">
              <li>
                <%= link_to "blog", comments_path %>
              </li>
              <li>
                <%= link_to "references", references_path %>
              </li>
              <li>
                <%= link_to "Projects", codes_path %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <%= yield %>
  </body>
</html>
